.Para1 {
    color: darkred;
    font-weight: bold;
}
 .Para2{
    color: darkgreen;
    font-size: larger;
 }   

 .Para3{
    color: brown;
    font-style: italic;
 }

 #Image1{
    width: 200px;
    margin-top: 70px;
     }

 #Image2{
    width: 200px;
 }

 #Image3{ 
    width: 200px;
 }

 #box{

    border: 15px dashed darkred;
    padding: 20px;
    width: 1000px;
    box-sizing: border-box;
    
}


